/* Upload form styling */
.upload-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the file input field */
input[type="file"] {
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* Custom styling for the "Choose File" button */
input[type="file"]::file-selector-button {
    background-color: #d827d6;
    /* Purple color */
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the "Choose File" button */
input[type="file"]::file-selector-button:hover {
    background-color: #b51fb5;
    /* Darker purple */
}

/* Styling for the upload button */
.btn-success,
.btn-submit {
    background-color: #28a745;
    border: none;
    color: white;
}

/* Hover effect for the upload button */
.btn-success:hover,
.btn-submit:hover {
    background-color: #218838;
}

/* Error message styling */
.error-message {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Result media styling (image/video) */
.result-media {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.example-img.selected {
    border: 2px solid #28a745;
}